<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="info" class="com.example.demo.beans.InfoBean">
    <property name="name" value="Roy"/>
    <property name="message" value="Welcome!"/>
    <property name="frameworks">
        <map>
        <entry key="struts"
                   value="Struts is an opensource framework"/>
        </map>
    </property>
</bean>
</beans>